{% extends "findhouse/layout.html" %}
{% load static %}

{% block body %}
<div class="justify-content-center">
    <img src="{% static 'findhouse/casa.png' %}" alt="casa" class="img-fluid"
>
</div><br>
<div class="container card bg-white">
    <div class="container">
        <br>
        <h1 class="display-3">Encuentra la casa que tanto buscas</h1>
        
        <h6 class="display-4">Por favor rellena los siguientes campos</h6>

        <form action="{% url 'response' %}" method="POST">
            <!-- -------------------------------------------------------- -->
            <!-- -------------------------------------------------------- -->
            <span class="font-weight-light">Seleccione la colonia</span><br>
            <select class="custom-select" style="width:200px;" name="colonia" id="colonia">
                <option value="ruiz">Eduardo Ruiz</option>
                <option value="chapultepec">Chapultepec</option>
                <option value="camelinas">Camelinas</option>
                <option value="americas">Americas</option>
            </select>
            

            <!-- -------------------------------------------------------- -->
            <!-- -------------------------------------------------------- -->

            <br><br>
            <span class="font-weight-light">Servicios</span><br>
            <select class="custom-select" style="width:200px;" multiple="multiple" required name="services" id="services">
                <option value="luz">Luz</option>
                <option value="agua">Agua</option>
                <option value="drenaje">Drenaje</option>
                <option value="transporte">Transporte</option>
                <option value="internet">Internet</option>
                <option value="cable">Cable</option>
                <option value="limpieza">Limpieza</option>
                <option value="seguridad">Seguridad</option>
            </select>

        <!-- -------------------------------------------------------- -->
        <!-- -------------------------------------------------------- -->
        <br><br>
        <span class="font-weight-light">Caracteristicas</span><br>
        <select class="custom-select" style="width:200px;" multiple="multiple" required name="rooms" id="rooms">
            <option value="recamaras">Recamaras</option>
            <option value="cocina">Cocina</option>
            <option value="sala">Sala</option>
            <option value="comedor">Comedor</option>
            <option value="banio">Baño</option>
            <option value="patio">Patio</option>
            <option value="terraza">Terraza</option>
            <option value="servicio">Cuarto de servicio</option>
            <option value="piscina">Piscina</option>
        </select>

            <!-- -------------------------------------------------------- -->
            <!-- -------------------------------------------------------- -->

            <br><br>
            <span class="font-weight-light">Tipo de pago</span><br>
            <select class="custom-select" style="width:200px;" name="payment" id="payment">
                efectivo,tranferencia,credito,hipoteca,financiamiento,prestamo
                <option value="efectivo">Efectivo</option>
                <option value="transferencia">Transferencia</option>
                <option value="credito">Credito</option>
                <option value="hipoteca">Hipoteca</option>
                <option value="financiamiento">Financiamiento</option>
                <option value="prestamo">Prestamo</option>
            </select>

            <br><br>
            <!-- -------------------------------------------------------- -->
            <!-- -------------------------------------------------------- -->
            <span class="font-weight-light">Precio</span>
            <input style="width:200px;" required type="number" name="price" style="overflow: hidden; resize: none"
            class="form-control"></input><br>



            <button type="submit" class="btn btn-sm btn-success">Send</button>
        </form><br>
    </div>
</div>
<br>
{% endblock %}